# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
examples.txt
.svn

Impossible.1
impossible.output
impossible

stack.hh
position.hh
location.hh
parser.output
parser.hpp
parser.cpp
lexer.cpp


.DS_Store
*.xcworkspacedata
*.xcuserstate
xcuserdata